.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .avatar-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .avatar-container i {
    font-size: 48px; 
    color: #8b1f8b; 
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  .bold-text {
    font-weight: bold;
  }

.user-type-row {
    display: flex;
    gap: 20px; 
    align-items: center;
    font-weight: bold; 
    text-align: center;
  }
  
  
  .input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #8b1f8b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #8b1f8b;
  }
  .password-input {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  @media screen and (max-width: 600px) {
    .form-container {
      width: 100%;
    }
  }